@import "menu";
@import "popup";
@import "game";
@import "settings";
@import "rating";

.app {
  position: absolute;
  top: 100vh;

  width: 100%;
  height: 100vh;

  background-color: #6dced5;

  transition: all 1s;
}

.app > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clouds {
  position: absolute;
  top: -100vh;
  left: 0;

  background-color: #6dced5;

  transition: all 1s;
}

.clouds > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
}

.startSmallClouds {
  animation: smallClouds 20s linear infinite;
}

.startBigClouds {
  animation: bigClouds 60s linear infinite;
}
