@font-face {
  font-family: "Soup Of Justice";
  font-weight: 700;
  font-style: normal;

  src: url("../assets/fonts/soupOfJustice.woff2") format("truetype");
}

* {
  font-family: "Soup Of Justice", sans-serif;
}
