@import "card";
@import "pause";
@import "win";
@import "lose";

.game {
  position: absolute;
  top: -100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #6dced5;

  transition: all 1s;
}

.showAnimation {
  opacity: 0;

  animation: show 1s linear forwards;

  @keyframes show {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.game__smallClouds,
.game__bigClouds {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.game__smallClouds {
  animation: smallClouds 20s linear infinite;
}

.game__bigClouds {
  animation: bigClouds 60s linear infinite;
}

.game__smallClouds1 {
  left: 0;
}

.game__smallClouds2 {
  left: -100%;
}

.game__bigClouds1 {
  right: -100%;
}

.game__bigClouds2 {
  right: 0;
}

.game__info {
  position: absolute;
  top: 0;
  left: calc(50% - 471px);
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 943px;
  height: 117px;
  padding: 0 80px 20px 80px;

  background-image: url("../assets/images/game/topDesk.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.game__info__timer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 55px;
  padding-left: 30px;

  font-size: 28px;
  color: white;

  background-image: url("../assets/images/game/timer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px 55px;
}

.game__info__pause {
  overflow: hidden;

  border-radius: 5px;
}

.game__board {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-gap: 20px;

  width: 100%;
}

.game-3x3 {
  grid-template: repeat(3, 120px) / repeat(3, 120px);
  grid-template-areas:
    "card1 card2 card3"
    "card4 . card5"
    "card6 card7 card8";
}

.game-4x4 {
  grid-template: repeat(4, 120px) / repeat(4, 120px);
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
    "card9 card10 card11 card12"
    "card13 card14 card15 card16";
}

.game-5x5 {
  grid-template: repeat(5, 120px) / repeat(5, 120px);
  grid-template-areas:
    "card1 card2 card3 card4 card5"
    "card6 card7 card8 card9 card10"
    "card11 card12 . card13 card14"
    "card15 card16 card17 card18 card19"
    "card20 card21 card22 card23 card24";
}

.game-6x6 {
  grid-template: repeat(6, 100px) / repeat(6, 100px);
  grid-template-areas:
    "card1 card2 card3 card4 card5 card6"
    "card7 card8 card9 card10 card11 card12"
    "card13 card14 card15 card16 card17 card18"
    "card19 card20 card21 card22 card23 card24"
    "card25 card26 card27 card28 card29 card30"
    "card31 card32 card33 card34 card35 card36";
}

.game__win,
.game__lose,
.game__pause {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: all 0.5s;
}

.game__lose__board__buttons > button,
.game__win__board__buttons > button,
.game__pause__board__buttons > button {
  overflow: hidden;

  border-radius: 40px;

  transform: scale(0.95);
  transition: all 0.2s;
}

.game__lose__board__buttons > button,
.game__lose__board__buttons > button > img,
.game__win__board__buttons > button,
.game__win__board__buttons > button > img,
.game__pause__board__buttons > button,
.game__pause__board__buttons > button > img {
  width: 140px;
  height: 140px;
}

.game__win__board,
.game__lose__board {
  color: #333333;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.game__win__board__buttons > button,
.game__lose__board__buttons > button {
  margin: 0 20px;
  overflow: hidden;

  border-radius: 40px;

  transform: scale(0.95);
  transition: all 0.2s;
}

.game__win__board__buttons > button:hover,
.game__lose__board__buttons > button:hover {
  transform: scale(1);
  transition: all 0.2s;
}

@media (max-width: 1024px) {
  .game__info {
    left: calc(50% - 330px);

    width: 660px;
    height: 82px;
    padding: 0 40px 20px 40px;
  }

  .game__lose__board__buttons > button,
  .game__win__board__buttons > button,
  .game__pause__board__buttons > button {
    border-radius: 30px;
  }

  .game__lose__board__buttons > button,
  .game__lose__board__buttons > button > img,
  .game__win__board__buttons > button,
  .game__win__board__buttons > button > img,
  .game__pause__board__buttons > button,
  .game__pause__board__buttons > button > img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .game__info {
    left: 0;

    grid-gap: 20px;

    width: 100%;
    height: 82px;
    padding: 0 30px 20px 30px;

    background-size: 100% 100%;
  }

  .game__board {
    grid-gap: 10px;
  }

  .game-3x3 {
    grid-template: repeat(3, 80px) / repeat(3, 80px);
    grid-template-areas:
      "card1 card2 card3"
      "card4 . card5"
      "card6 card7 card8";
  }

  .game-4x4 {
    grid-template: repeat(4, 80px) / repeat(4, 80px);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8"
      "card9 card10 card11 card12"
      "card13 card14 card15 card16";
  }

  .game-5x5 {
    grid-template: repeat(5, 60px) / repeat(5, 60px);
    grid-template-areas:
      "card1 card2 card3 card4 card5"
      "card6 card7 card8 card9 card10"
      "card11 card12 . card13 card14"
      "card15 card16 card17 card18 card19"
      "card20 card21 card22 card23 card24";
  }

  .game-6x6 {
    grid-template: repeat(6, 50px) / repeat(6, 50px);
    grid-template-areas:
      "card1 card2 card3 card4 card5 card6"
      "card7 card8 card9 card10 card11 card12"
      "card13 card14 card15 card16 card17 card18"
      "card19 card20 card21 card22 card23 card24"
      "card25 card26 card27 card28 card29 card30"
      "card31 card32 card33 card34 card35 card36";
  }
}

@media (max-width: 800px) and (max-height: 500px) {
  .game-3x3 {
    grid-template: repeat(3, 70px) / repeat(3, 70px);
    grid-template-areas:
      "card1 card2 card3"
      "card4 . card5"
      "card6 card7 card8";

    padding-top: 60px;
  }

  .game-4x4 {
    grid-template: repeat(4, 60px) / repeat(4, 60px);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8"
      "card9 card10 card11 card12"
      "card13 card14 card15 card16";

    padding-top: 40px;
  }

  .game-5x5 {
    grid-template: repeat(5, 50px) / repeat(5, 50px);
    grid-template-areas:
      "card1 card2 card3 card4 card5"
      "card6 card7 card8 card9 card10"
      "card11 card12 . card13 card14"
      "card15 card16 card17 card18 card19"
      "card20 card21 card22 card23 card24";

    padding-top: 40px;
  }

  .game-6x6 {
    grid-template: repeat(6, 40px) / repeat(6, 40px);
    grid-template-areas:
      "card1 card2 card3 card4 card5 card6"
      "card7 card8 card9 card10 card11 card12"
      "card13 card14 card15 card16 card17 card18"
      "card19 card20 card21 card22 card23 card24"
      "card25 card26 card27 card28 card29 card30"
      "card31 card32 card33 card34 card35 card36";

    padding-top: 50px;
  }
}

@media (max-width: 800px) and (max-height: 400px) {
  .game-3x3 {
    grid-template: repeat(3, 60px) / repeat(3, 60px);
    grid-template-areas:
      "card1 card2 card3"
      "card4 . card5"
      "card6 card7 card8";

    padding-top: 60px;
  }

  .game-4x4 {
    grid-template: repeat(4, 50px) / repeat(4, 50px);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8"
      "card9 card10 card11 card12"
      "card13 card14 card15 card16";

    padding-top: 40px;
  }

  .game-5x5 {
    grid-template: repeat(5, 40px) / repeat(5, 40px);
    grid-template-areas:
      "card1 card2 card3 card4 card5"
      "card6 card7 card8 card9 card10"
      "card11 card12 . card13 card14"
      "card15 card16 card17 card18 card19"
      "card20 card21 card22 card23 card24";

    padding-top: 40px;
  }

  .game-6x6 {
    grid-template: repeat(6, 30px) / repeat(6, 30px);
    grid-template-areas:
      "card1 card2 card3 card4 card5 card6"
      "card7 card8 card9 card10 card11 card12"
      "card13 card14 card15 card16 card17 card18"
      "card19 card20 card21 card22 card23 card24"
      "card25 card26 card27 card28 card29 card30"
      "card31 card32 card33 card34 card35 card36";

    padding-top: 50px;
  }
}
