.game__lose__board {
    width: 600px;
    background-image: url("../assets/images/lose__board.png");
    display: grid;
    grid-template: auto auto / 1fr;
    grid-gap: 70px;
    align-items: center;
    justify-items: center;
    position: relative;
    padding: 8vh 0 40px 0;
}

@media screen and (max-width: 1024px) {
    .game__lose__board__stars {
        width: 80%;
    }

    .game__lose__board {
        width: 500px;
        grid-gap: 50px;
    }
}

@media screen and (max-width: 600px) {
    .game__lose__board {
        width: 90%;
    }

    .game__lose__board {
        padding: 7vh 0 30px 0;
    }
}
