.game__pause {
  position: relative;

  &.hide {
    display: none;
  }
}

.game__pause__board {
  position: relative;

  display: grid;

  grid-template: auto auto / 1fr;

  width: 723px;
  height: 60%;
  padding: 10vh 0 20px 0;

  background-image: url("../assets/images/pause/board.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 723px 100%;
}

.game__pause__board__close,
.game__pause__board__close > img {
  width: 100px;
  height: 100px;
}

.game__pause__board__close {
  position: absolute;
  top: 3%;
  right: 0;

  overflow: hidden;

  border-radius: 50%;

  transform: scale(0.95);
  transition: all 0.2s;
}

.game__pause__board__close:hover {
  transform: scale(1);
  transition: all 0.2s;
}

.game__pause__board__title,
.game__pause__board__buttons {
  display: flex;
  align-items: center;
}

.game__pause__board__title {
  justify-content: center;
}

.game__pause__board__title > h3 {
  padding: 0 10%;

  font-size: 80px;
  text-align: center;
  color: #333333;
}

.game__pause__board__buttons {
  justify-content: space-between;

  padding: 0 25%;
}

.game__pause__board__buttons > button:hover {
  transform: scale(1);
  transition: all 0.2s;
}

@media screen and (max-width: 1024px) {
  .game__pause__board {
    grid-template: auto auto / 1fr;

    width: 500px;

    background-size: 500px 100%;
  }

  .game__pause__board__title > h3 {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .game__pause__board {
    width: 80%;

    background-size: 100% 100%;
  }

  .game__pause__board__title > h3 {
    font-size: 50px;
  }

  .game__pause__board__buttons {
    padding: 60px 15% 0 15%;
  }
}

@media screen and (max-width: 400px) {
  .game__pause__board__title > h3 {
    font-size: 40px;
  }

  .game__pause__board__buttons {
    padding: 60px 10% 0 10%;
  }
}
