.settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
}

.settings__board {
  position: relative;

  display: grid;
  justify-content: center;
  align-items: center;

  grid-template: 60px 60px auto / 1fr;

  width: 80%;
  max-width: 1098px;
  max-height: 80%;
  margin: 70px 0 0 0;
  padding: 140px 200px 120px 200px;

  color: #333333;

  background-image: url("../assets/images/settings/board.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.settings__board__approve {
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: 2;

  overflow: hidden;

  border-radius: 50%;

  transform: scale(0.95);
  transition: all 0.2s;
}

.settings__board__approve:hover {
  transform: scale(1);
  transition: all 0.2s;
}

.settings__board__music,
.settings__board__sounds {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__board__music > span,
.settings__board__sounds > span {
  font-size: 44px;
}

.settings__board__button {
  display: grid;
  align-items: center;

  grid-template: auto / 1fr 1fr;
  grid-template-areas: "title img";

  width: 30%;
  min-width: 130px;
  max-width: 140px;
  height: 60px;
  padding: 0 10px;

  background-image: url("../assets/images/settings/btnBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.settings__board__button__title {
  grid-area: title;

  margin: 0 10px;

  font-size: 28px;
  color: white;
}

.settings__board__button__img {
  grid-area: img;

  height: 40px;
}

.toggleOff {
  grid-template-areas: "img title" !important;
}

.settings__board__difficulty > h3 {
  font-size: 48px;
  text-align: center;
}

.settings__board__difficulty__buttons {
  display: grid;
  align-items: center;

  grid-gap: 20px;
  grid-template: 100px 100px / 1fr 1fr;

  padding: 20px 5% 0 5%;
  justify-items: center;
}

.settings__board__difficulty__buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 100px;
  padding: 10px;

  font-size: 32px;
  color: #333333;

  background-image: url("../assets/images/settings/difficultyBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.settings__board__difficulty__buttons > button:hover {
  background-image: url("../assets/images/settings/difficultyHoveredBg.png");
}

.active-difficulty {
  background-image: url("../assets/images/settings/difficultyHoveredBg.png") !important;
}

@media (max-width: 1200px) {
  .settings__board__approve {
    top: -10px;
    left: -10px;

    width: 70px;
    height: 70px;
  }

  .settings__board__approve img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1024px) {
  .settings__board {
    padding: 120px 120px 100px 120px;
  }
}

@media (max-width: 768px) {
  .settings__board {
    display: grid;

    grid-template: 60px 60px auto / 1fr;

    padding: 100px 80px;
  }

  .settings__board__music > span,
  .settings__board__sounds > span {
    font-size: 34px;
  }

  .settings__board__difficulty > h3 {
    font-size: 34px;
  }

  .settings__board__difficulty__buttons {
    display: grid;
    align-items: center;

    grid-gap: 10px;
    grid-template: 70px 70px / 1fr 1fr;

    padding: 20px 5% 0 5%;
    justify-items: center;
  }

  .settings__board__difficulty__buttons > button {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 70px;

    font-size: 26px;
  }
}

@media (max-width: 600px) {
  .settings__board {
    grid-template: 45px 60px auto / 1fr;

    width: 90%;
    padding: 110px 60px 100px 60px;
  }

  .settings__board__music > span,
  .settings__board__sounds > span,
  .settings__board__difficulty > h3,
  .settings__board__button__title {
    font-size: 22px;
  }

  .settings__board__button__img {
    height: 30px;
  }

  .settings__board__button {
    width: 30%;
    min-width: 110px;
    height: 40px;
    padding: 0 10px;
  }

  .settings__board__approve {
    top: 20px;
  }

  .settings__board__difficulty__buttons > button {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 70px;

    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .settings__board {
    grid-template: 45px 60px auto / 1fr;

    padding: 80px 60px 80px 60px;
  }

  .settings__board__difficulty__buttons {
    grid-template: 60px 60px / 1fr 1fr;

    padding: 10px 5% 0 5%;
  }

  .settings__board__difficulty__buttons > button {
    max-height: 60px;
  }
}

@media (min-width: 700px) and (max-height: 800px) {
  .settings__board {
    padding: 60px 10% 80px 10%;
  }

  .settings__board__music > span,
  .settings__board__sounds > span,
  .settings__board__difficulty > h3,
  .settings__board__button__title {
    font-size: 22px;
  }

  .settings__board__button__img {
    height: 30px;
  }

  .settings__board__button {
    width: 30%;
    min-width: 110px;
    height: 40px;
    padding: 0 10px;
  }

  .settings__board__approve,
  .popup__close {
    top: 20px;
  }

  .settings__board__difficulty__buttons {
    grid-template: 60px 60px / 1fr 1fr;

    padding: 10px 5% 0 5%;
  }

  .settings__board__difficulty__buttons > button {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 70px;

    font-size: 14px;
  }
}
